/* === Shared Css === */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.btn {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-white);
  background-color: #f15b22;
  border: none;
  border-radius: 5px;
  padding: 21px 26px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  background-color: #d94a1a;
}
.section-bottom-mergin {
  margin-bottom: 30px;
}
/* == Button === */
.btn-primary {
  background-color: #30b868;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 14px 24px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.btn-primary:hover {
  background: linear-gradient(135deg, #1ad957, #00c850e6);
  transform: translateY(-3px);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.btn-outline {
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 12px 28px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  
}

.btn-outline:hover {
  border: 3px solid #30b868;
  transform: translateY(-3px);
  box-shadow: 0px 0px 5px #30b868, 0px 0px 10px #30b868 inset;
}

/* === Main Css=== */
/* === Header Section Start === */
header {
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(13, 255, 0, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
}
.header-logo {
  cursor: pointer;
  transition: all 0.3s ease;
}
.header-logo:hover {
  transform: scale(1.07);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}
.header-menu {
  display: flex;
  align-items: center;
}

.header-menu ul {
  display: flex;
  gap: 25px;
  list-style: none;
  align-items: center;
}

.header-menu li {
  text-decoration: none;
}

.header-container .header-menu ul li {
  list-style: none;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

.header-container .header-menu ul li:hover {
  transform: scale(1.05);
}
.header-container .header-menu ul li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.3s ease;
}
.header-container .header-menu ul li a:hover {
  color: #30b868;
  cursor: pointer;
}
/* === Header Section End === */

/* === Hero Section Start === */
.hero{
  background-image: url(./assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid red;
  text-align: center;
  padding: 75px 120px 120px 130px;
}
.overly-img {
  border-image: linear-gradient(
    hsl(209, 20%, 90%), 
    hsl(204, 17%, 94%)
  ) 1;
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-container .hero-info .access-btn{
  margin-bottom: 18px;
  color: #30b868;
  text-transform: capitalize;
  padding: 9px 15px;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 500;
}
.hero-container .hero-info h1 {
  color: white;
  font-size: 70px;
  font-weight: 700;
  text-transform: capitalize;
   margin-bottom: 20px;
}
.hero-container .hero-info h1 span {
  color: #30b868;
  font-size: 75px;
  font-style: 700;
  font-weight: bold;
  text-transform: capitalize;
 
}
.hero-container .hero-info p {
  color: white;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 30px;
 
}
.hero-container .hero-btn{
  display: flex;
  gap: 20px;
}
/* === Hero Section End === */
