/* === Shared Css === */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  color: #30b868;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 24px;
}
h2 {
  color: var(--color-dark);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}

p {
  color: black;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 32px;
}

.btn {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-white);
  background-color: #f15b22;
  border: none;
  border-radius: 5px;
  padding: 21px 26px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  background-color: #d94a1a;
}
.section-bottom-mergin {
  margin-bottom: 130px;
}

/* === Main Css=== */
header {
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(13, 255, 0, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header-logo:hover {
  transform: scale(1.07);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}
.header-menu {
  display: flex;
  align-items: center;
}

.header-menu ul {
  display: flex;
  gap: 25px;
  list-style: none;
  align-items: center;
}

.header-menu li {
  text-decoration: none;
}

.header-container .header-menu ul li {
  list-style: none;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

.header-container .header-menu ul li:hover {
  transform: scale(1.05);
}
.header-container .header-menu ul li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.3s ease;
}
.header-container .header-menu ul li a:hover {
  color: #30b868;
  cursor: pointer;
}


.header-btn {
  background: linear-gradient(
    135deg,
   rgb(48, 184, 104) ,
    rgba(48, 184, 104,0.8)
  );
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 28px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  letter-spacing: 0.5px;
}

.header-btn:hover {
  background: linear-gradient(135deg, #1ad957, rgba(0, 200, 80, 0.9));
  transform: translateY(-3px);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
